body {
  background-color: #ebeff1;
}

#container {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 27px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 20px;
}

.column {
  background-color: white;
  border-radius: 2pt;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 0.5em;
  padding: 10pt;
}

.column h1 {
  font-size: 20pt;
  font-weight: lighter;
  margin-bottom: 0.5em;
  margin-top: 0em;
}

/* Nodes */
#nodes ul {
  padding: 0;
  list-style-type: none;
}

#nodes_list li:hover {
  background-color: #ebeff1;
}

.node {
  font-family: monospace;
}

.address {
    margin-left: 5pt;
    color: gray;
}

.current_node {
  font-weight: bold;
}

/* Rules */
#rules ol, #rules ul {
  margin: 0;
}

#bootstrap_tick_list, #tick_list, #receive_list {
    list-style-type: none;
}

.rule {
  font-family: monospace;
}

.current_rule {
  font-weight: bold;
}

/* Collections */
.collection {
  font-family: monospace;
}

#collections_time {
  font-family: monospace;
}

/* http://stackoverflow.com/a/11902294/3187068 */
#collections tr:not(:first-child):hover {
  background-color: #ebeff1;
}

.collection_type {
  color: gray;
}

#collections table {
  border-collapse: collapse;
  margin-bottom: 1em;
}

#collections td, #collections th {
  border: 1.5pt solid gray;
  padding: 1pt;
}
